.store {
  display: flex;
  flex-direction: column;
  flex: 1 0 20%;
  margin: 0 0 var(--space-m) 0;
  margin-right: 10px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    margin: 0;
    padding: var(--space-xxs) var(--space-s);
    border-radius: var(--space-xxs);
    box-shadow: 0 8px 32px rgb(77, 101, 117 , 35%);
    border-radius: 12px;
    padding-bottom: 25px;
  }
  &__joke{
    font-weight: 700;
  }
  &__title {
    margin: 0 var( --space-xs) 0 0;
    padding: 0;
  }

  &__location {
    display: block;
    margin: 0 0 var(--space-m) 0;
    padding: 0;
    color: var(--color-dark-gray);
  }
}
