:root {
    --text-white: #ffffff;
    --background: #1d1d23;
    --text-black: #000
}
body {
    background-color: var(--background) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
label,
a {
    color: var(--text-white) !important;
}
