$primaryColor: rgb(222, 222, 233);
$white: #fff;

.store-list {
    &__container {
        display: flex;
        flex-flow: row wrap;
        margin-top: 20px;
    }
    &__item{
        flex: 0 0 20%;
        margin-right: 15px;
    }
    &__textbox {
        outline: 0;
        height: 43px;
        width: 244px;
        line-height: 42px;
        padding: 0 16px;
        color: #212121;
        border-radius: 26px;
        border: 1px solid $primaryColor;
        &:hover{
            outline: 0;
            background-color: $white;
        }
    }
    &__form {
        position: relative;
        width: 20%;
        i{
            position: absolute;
            right: 15px;
            top: 16px;
            color: rgb(182, 167, 167)
        }
    }
}
