

.store-list {
    &__container {
        display: flex;
        flex-flow: row wrap;
        margin-top: 20px;
    }
    &__item{
        flex: 0 0 20%;
        margin-right: 15px;
    }
    &__textbox {
        outline: 0;
        height: 43px;
        width: 244px;
        line-height: 42px;
        padding: 0 16px;
        color: var(--color-black);
        border-radius: 26px;
        border: 1px solid var(--color-light-gray);
        &:hover{
            outline: 0;
            background-color: var(--color-white);
        }
    }
    &__form {
        position: relative;
        width: 254px;
        i{
            position: absolute;
            color: var(--color-placeholder-icon);
            right: 22px;
            top: 14px;
        }
    }
}

