@import './variables/_color.scss';
@import './variables/_spacing.scss';
@import "scroll";

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-main-container);
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 97%;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 25px;
  .page__stores{
    &--cards-wrapper {
      display: flex;
    }
    &--card {
      width: 25%;
      background: var(--color-white);
      height: 200px;
      border-radius: 0.7rem;
      margin-right: 25px;
      border: 0.5px solid var(--color-light-gray);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: .5s all ease-in-out;
      p{
        margin-top: 15px;
      }

      &:hover{
        transform: translateY(-4px);
        box-shadow: 0 8px 32px rgb(77, 101, 117 , 35%);
      }
    }
    &-header-wrapper {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &-header {
      color: var(--color-black);
      text-align: center;
      position: relative;
      &::after {
        content: '';
        position:absolute;
        bottom: 10px;
        right: 47%;
        top: 30px;
        width: 80px;
        height: 3px;
        margin: 0 auto;
        background: var(--color-orange);

      }
    }
  }
  
}

@media (max-width: 575px) {
  .page__stores-header{
    &::after{
      right: 40% !important;
    }
  }
  .page__stores--cards-wrapper{
    width: 90%;
    margin: auto;
    display: block !important;
  }
  .page__stores--card{
    width: 100%  !important;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and  (max-width: 1023px) {
  .page__stores-header{
    &::after{
      right: 45% !important;
    }
  }
  .page__stores--cards-wrapper{
    width: 50%;
    margin: auto;
    display: block !important;
  }
  .page__stores--card{
    width: 100%  !important;
    margin-bottom: 15px;
  }
}
